header {
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap:4em;
    background-color: blue;
    align-items: center;
  }

h1 {
  color:white;
  
}
h2 {
  border-top: 5px double;
}
#copyright {
  color: white;
  text-align: center;
}
#updatetime {
  color: yellow;
  text-align: center;
}
#me {
  width: 100%;
  grid-column:1;
  grid-row:1;
    
}

footer {
  background-color: blue;
  align-items: center;
}