@media screen and (min-width: 1200px) {
    nav {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    
    .navigation {
        display: flex;
        gap: .5em;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navigation li:first-child {
        display: none;  
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
        font-family: "Roboto Slab", serif;
    }
    main {
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }
    .spotlight {
        grid-column: 3;
        grid-row: 2/5;
        flex-direction: column;
    }
    #spotlight3 {
        display: block;
        padding-left: 2em;
        padding-right: 2em;
    }
    .hero {
        grid-column: 2;
        grid-row: 2/4;
    }
    .event {
        grid-column: 1;
        grid-row: 2;
    }
    .news {
        grid-column: 2;
        grid-row: 4;
    }
    .weather {
        grid-column: 1;
        grid-row: 3;
    }
    .join {
        grid-column: 1;
        grid-row: 4;
    }
    #message {
        top: 265px;
    }
}
