@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto+Slab&display=swap');
header {
    margin-top: 0;
    background-color: #F5DFBB;
    display: grid;
    grid-template-columns: 25% 20% auto auto auto;
    
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 1em;
    grid-column: 1;
    position: absolute;
    
    
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
    
}



.navigation a {
    color: black;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color:#F2542D;
    color: white;
}

.responsive li {
    display: block;
}


body {
    
    background-color: #50A4AB;
        
    
}
main {
    background-color:white;
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    
    
}
h1,
h2,
h3,
h4 {
    font-family: "Roboto Slab", serif;
}
p {
    font-family: "Open Sans", sans-serif;
}
footer {
    margin-bottom: 0;
    background-color: #F5DFBB;
    text-align: center;
}
#bannerbox {
    background-color: white;
    height: 60px;
}
#logo {
    display: block;
    width: 90%;
    margin-left: .25em;
}

#title {
    font-size:20px;
    padding: .25em;
}

#date {
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
}

#spotlight3 {
    display: none;
}

.join {
    display: none;
}

#footerlogo {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#map {
    width: 5%;
}
#citylarge {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#message {
    position: absolute;
    top: 152px;
    display: none;
    
}

.hero {
    position: relative;
}
#button {
    position: absolute;
    bottom: 10%;
    right: 5%;
    padding: 0.35rem;
	margin-left: 1rem;
	font-size: 1.1rem;
}
#facebook {
    width: 20px;
}
#google {
    width: 20px;
}
#button2 {
   
    padding: 0.35rem;
	margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
	font-size: 1.1rem;
    display: block;

}


.weather {
    display: grid;
    grid-template-columns: auto auto;
}
#weathericon {
    width: 60px;
    grid-column: 1;
    grid-row: 2/4;
}
#weathertop {
    grid-column: 1/3;
    grid-row: 1;
}
#line {
    grid-column: 1/3;
    grid-row: 4;
}