@media screen and (min-width: 1200px) {
nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    gap: .5em;
    flex-direction: row;
    justify-content: space-evenly;
}
.navigation li:first-child {
    display: none;  
}
.navigation li {
    display: block;
    flex: 1 1 100%;
    font-family: "Roboto Slab", serif;
}

main img:hover {
    box-shadow: 10px 10px 5px black;
}
}