
body {
    background-color: #FAE6CD;
}

main {
    background-color:#FAE6CD;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

h1, h2 {text-align: center;}


#rafting, #project, #rwc {
    display: block;
    width: 95%;
}
#me {
    display: block;
    width: 30%;
}

#chamber {
    display: block;
    width: 95%;
}

header, footer {
    background-color: blue;
    color: white;
}




header .navigation{
    background-color: blue;

}


li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.navigation a {
    color: white;
    text-align: center;
    text-decoration: none;
    
}

.navigation a:hover {
    background-color:white;
    color: blue;
}
p, h4 {
    text-align: left;
}


@media screen and (min-width: 550px) {
    .navigation {
        display: flex;
        gap: .5em;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
 
    
}